.contact-me footer {
    display: flex;
    background: rgb(171, 171, 171);
}

.footer-content {
    display: flex;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40xp;
    padding-top: 40px;
    list-style: none;
}

.footer-content h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.footer-content .iteam {
    width: 32%;
    margin-right: 2%;
}

.footer-content .iteam:last-child {
    width: 32%;
}

.footer-info p {
    font-size: 15px;
}

.footer-content .photo {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.footer-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-posts li {
    display: flex;
}

.blog-posts li:first-child {
    border-bottom: 1px solid white;
}

.iteam-with-picture {
    margin-top: 15px;
}

.blog-posts h3 {
    font-size: 18px;    
    font-weight: 400;
    margin: 0;
}

.blog-posts p {
    font-size: 15px;
    margin: 0;
}

.popular-tags ul {
    display: flex;
    flex-wrap: wrap;
}

.popular-tags li {
    flex-wrap: wrap;
    margin-right: 5px;
    margin-bottom: 20px;
}

.tag {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;    
    color: white;
    background: rgb(108, 108, 108);
}

.tag:hover {
    background: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}